.sidebar {
  flex: 0 0 var(--space-300);
  height: 100vh;
  padding: var(--space-10);
  display: flex;
  flex-direction: column;
  background-color: beige;
  color: var(--color-white);
  background-color: var(--color-blue-strong-dark);
}

.sidebar--top {
  background-color: red;
}

.sidebar--main {
  flex: 1;
  background-color: aqua;
}

.sidebar--footer {
  background-color: brown;
}
